button{
  font-size: 18px;
  padding: 14px 24px;
  margin: 2px;
  background-color: white;
  border-radius: 2px;
  border: solid 2px white;
  
}

button:hover{
  border: solid 2px black;
}

#calculator{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapper{
  border: solid 2px black;
  border-radius: 3px;
  background-color: #E1E1E1;
}

.numbersWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.keyboardWrapper{
  display: flex;
}

.operators{
  display: flex;
  flex-direction: column;
}

.display{
  width: 100%;
  text-align: right;
  background-color: black;
  color: white;
  padding: 24px 0 18px;
  font-family: 'EzarionRegular';
}

h2{
  margin: 0 8px;
  font-size: 32px;
}

#clear{
  background-color: #90251E;
  color: white;
}

#equals{
  background-color: #241B65;
  color: white;
}

.operators button{
background-color: grey;
  color: white;
  border: solid 2px grey;
}

.operators button:hover{
  border: solid 2px black;
}